.main-logo {
    position: fixed;
    top: 22%;
    left: 43%;
}
#name {
    position: fixed;
    top: 35%;
    left: 37%;
    border-radius: 25px;
    border: 1px solid rgba(255, 0, 0, .5);
    width: 490px;
    height: 34px;

}

nav {
    display: flex;
    justify-content: space-between;
    height: 40px;  
  }
  
a {
    display: flex;
    text-decoration: none;
}
a.top {
    color: #000;
    opacity: 0.75;
  }
a:hover {
    text-decoration: underline;
  }

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin-right: 12px;
  }
  
li {
    display: flex;
    align-items: center;
    padding-left: 15px;
  }